@import url(https://fonts.googleapis.com/css?family=Laila:400,700);
@import url(http://fonts.googleapis.com/css?family=Lato:300,700);




header {
    margin: 0 auto;
    width: 960px;
    margin-bottom: 15px;
    border: 1px solid transparent;
  /*  border-bottom: 1px solid #ccc; */
}

header img {
    height: 30%;
    width: 26%;
    float: left;
    padding-left: 110px;
    margin-left: 60px;
    margin-top: 67px;
    margin-bottom: 10px;
}


h1 {
    font-family: 'Laila';
    font-weight: 800;
    font-size: 80px;
    margin-top: 70px;
    margin-bottom: 20px;
    position: relative;
    left: -5px;
    color: rgb(16,124,155);
}


.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: rgb(27,150,155);
    cursor: default;
    background-color: #fff;
    border: 1px solid rgb(23,137,139);
    border-bottom-color: transparent;
    font-size: 17px;
}

.nav-tabs {
    border-bottom: 1px solid rgb(23,137,139);
}

nav a {
    color: rgb(27,150,155);
    font-size: 17px;
}

.nav > li > a:hover, .nav > li > a:focus {
    text-decoration: none;
    background-color: rgb(108,173,149);
    color: white;
}

.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
    background-color: rgb(108,173,149);
    border-color: rgb(108,173,149);
    color: white;
}

/*ul.nav li.dropdown:hover ul.dropdown-menu {
            display: block;
        } */




/* Special class on .container surrounding .navbar, used for positioning it into place. */
/*.navbar-wrapper {
  position: absolute;
  top: 185px;
  right: 0;
  left: 0;
} */

/* color adjusting */
/*#navbar {
    background-color: rgb(23,137,139);
}

.navbar-brand {
    background-color: rgb(23,137,139);
}

.navbar-inverse {
    border-color: transparent;
    background-color: transparent;
}

.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
    background-color: rgb(27,150,155);
}

.navbar-inverse .navbar-nav > li > a {
    color: ghostwhite;
}

.nav-container {
    width: 960px;
    margin: 0 auto;
}

*/
/*
nav {
    font-family: 'Lato';
    font-weight: 300;
    font-size: 25px;
    text-align: center;
    color: rgb(18,129,149);
}

nav ul {
    padding-left: 3px;
    margin-top: 0px;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
}

nav ul li:after {
    content: " |";
}

nav ul li:last-child:after {
    content: "";
}

*/

#container1 {
    margin: 0 auto;
    width: 960px;
    overflow: auto;
    margin-bottom: 30px;
}

/*
main img {
    height: 320px;
    width: 320px;
    float: left;
    padding-right: 6px;
    padding-bottom: 6px;
    display: block;
}

.quickFlip:nth-child(3n) img {
    padding-right: 0px;
}

*/

.quickFlip {
    height: 320px;
    width: 320px;
    float: left;
    padding-right: 6px;
    padding-bottom: 6px;
    position: relative;
    display: block;
}

.quickFlip:nth-child(3n) {
    padding-right: 0px;
}

.panel1 {
    position: relative;
    background: url('../img/su.jpg') no-repeat 0 0 #FFF;
    background-size: 320px 320px;
}

.panel2 {
    position: relative;
    background: url('../img/qu.jpg') no-repeat 0 0 #FFF;
    background-size: 320px 320px;
}

.panel3 {
    position: relative;
    background: url('../img/duan.jpg') no-repeat 0 0 #FFF;
    background-size: 320px 320px;
}

.panel4 {
    position: relative;
    background: url('../img/ping.jpg') no-repeat 0 0 #FFF;
    background-size: 320px 320px;
}

.panel5 {
    position: relative;
    background: url('../img/liu.jpg') no-repeat 0 0 #FFF;
    background-size: 320px 320px;
}

.panel6 {
    position: relative;
    background: url('../img/hua.jpg') no-repeat 0 0 #FFF;
    background-size: 320px 320px;
}

.panel7 {
    position: relative;
    background: url('../img/lei.jpg') no-repeat 0 0 #FFF;
    background-size: 320px 320px;
}

.panel8 {
    position: relative;
    background: url('../img/san.jpg') no-repeat 0 0 #FFF;
    background-size: 320px 320px;
}

.panel9 {
    background-color: rgb(23,137,139);
    opacity: 0.6;
    color: white;
    text-align: center;
    font-family: 'Laila';
    font-weight: 400;
    font-size: 40px;
}

/*.text {
    color: white;
    position: absolute;
    left: 10px;
    top: 110px; 
    font-size: 25px;
    font-family: 'Laila';
    
}*/



.container1 {
    margin: 0 auto;
    width: 960px;
    border: 1px solid transparent;
    padding: 20px;
    overflow: auto;
}

h2 {
    display: block;
    margin-bottom: 0px;
}

h3 {
    margin-top: 10px;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 30px;
    color: #ccc;
    font-weight: 200;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */

/* Carousel base class */
/*.carousel {
  height: 500px;
  margin-bottom: 60px;
} */
/* Since positioning the image, we need to help out the caption */
/*.carousel-caption {
  z-index: 10;
} */

/* Declare heights because of positioning of img element */
/*.carousel .item {
  height: 500px;
  background-color: #777;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 500px;
}
*/

.carousel {
    height: 500px;
    border: 1px solid #ccc;
    margin-bottom: 90px;
}

.carousel-content {
    height: 498px;
    background-color: white;
}

.carousel-caption {
    color: black;
    text-shadow: none;
    text-align: left;
    top: 0px;
    bottom: auto;
    left: 60px;
    right: 40px;
}

.carousel-control {
    color: cadetblue;
    text-shadow: none;
}

.carousel-control:hover, .carousel-control:focus {
    color: rgb(108,173,149);
}

.carousel-control.right {
    background-image: none;
}

.carousel-control.left {
    background-image: none;
    
}

.carousel-indicators li {
    border: 1px solid cadetblue;
}

.carousel-indicators .active {
        background-color: cadetblue;
}

.carousel-caption img {
    height: 315px;
    width: 330px;
    float: left;
    padding-right: 20px;
}

.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next {
    width: 0px;
    font-size: 40px;
}

.carousel-control .icon-next, .carousel-control .glyphicon-chevron-right {
    right: 38%;
}

.carousel-control .icon-prev, .carousel-control .glyphicon-chevron-left {
    left: 10%;
}

p:nth-child(3n) a {
    color: grey;
    
}

p:nth-child(3n) {
    font-style: normal;
    padding-top: 30px;
}



section {
    height: 500px;
    border-bottom: 1px solid #ccc;
}

section img {
    height: 315px;
    width: 330px;
    float: left;
    padding-right: 20px;
}

/*#sudi, #quyuan, #pinghu, #duanqiao, #liulang, #huagang, #leifeng, #santan {
    height: 250px;
    width: 250px;
    margin-left: 400px;
    border: 1px solid #ccc;
}*/

